body {
    background-image: url("sport.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color:#181B15;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 50px 10px 50px 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

button {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all;
    cursor: pointer;
}

#increment-btn {
    background: #FB862E;
    margin-right: 5px;
    margin-bottom: 10px;
}

#increment-btn:hover{
    background: #f1791e;
}

#save-btn {
    background: #00a1e4;
}

#save-btn:hover {
    background: #0183bb;
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }

    button {
        width: 250px;
    }
}

